@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header-section {
    background-color: #264653;
}

.header-section-container h1 {
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #FFFFFF;
    font-family: 'Poppins',
        sans-serif;
}

.Paragraph-one {
    font-size: 0.875rem;
    color: #FFFFFF;
}

.Paragraph-two {
    margin-bottom: 2.5rem;
    font-size: 1rem;
    line-height: 1.625rem;
    color: #E0E0E0;
}

.header-section-btn {
    background: #E76F51;
    border-radius: 5px;
}

.section-modal-content {
    background-color: #264653;
    color: #E0E0E0;
}

/* ---------------------
  section one Featured
------------------------*/

.section-one-container h2 {
    font-weight: 700;
    font-size: 3rem;
    font-family: 'Poppins',
        sans-serif;
    color: #000000;
}

.section-one-container p {
    font-weight: 600;
    font-size: 0.875rem;
    color: #E76F51;
}

.section-one-bike-one,
.section-one-bike-three {
    filter: grayscale(100%);
}

.section-one-content img {
    transition: 0.3s ease transform;
}

.section-one-content img:hover {
    transform: scale(1.1);
}


/* ---------------------
  section two Clients
------------------------*/

.section-two-content-one .one {
    font-weight: 500;
    font-size: 3rem;
    font-family: 'Poppins',
        sans-serif;
    color: #000000;
}

.section-two-content-one .two {
    font-weight: 500;
    font-size: 3rem;
    font-family: 'Poppins',
        sans-serif;
    color: #E76F51;
}

.section-two-content-two p {
    font-size: 1rem;
    padding: 0 3%;
    letter-spacing: 0.2px;
    color: #6C6C6C;
    margin-bottom: 0;
}

.section-two-content-two .bi-star-fill {
    color: #E77C40;
}

.section-two-content-two h3 {
    letter-spacing: 0.2px;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: #23A6F0;
}

.section-two-content-two h4 {
    font-weight: 600;
    font-size: 0.875rem;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-bottom: 0;

}

/* ---------------------
  section three Questions
------------------------*/

.section-three-container .one {
    font-weight: 500;
    font-size: 3rem;
    font-family: 'Poppins',
        sans-serif;
    color: #000000;
}

.section-three-container .two {
    font-weight: 500;
    font-size: 3rem;
    font-family: 'Poppins',
        sans-serif;
    color: #E76F51;
}

.section-three-content .accords-four,
.section-three-content .accords-three,
.section-three-content .accords-two,
.section-three-content .accords-one {
    border: 1px solid gray;
}

/* ---------------------
  section four Categories
------------------------*/

.section-four-container {
    margin-top: 5rem;
}

.section-four-content h3 {
    position: relative;
    font-weight: 700;
    font-size: 3rem;
    font-family: 'Poppins',
        sans-serif;
    color: #000000;
}

.section-four-content-one img,
.section-four-content-two img {
    transition: 0.3s ease transform;
}

.section-four-content-one img:hover,
.section-four-content-two img:hover {
    transform: scale(1.1);
}

.section-four-content h3::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 4.3rem;
    bottom: 0px;
    height: 1px;
    width: 13.563rem;
    transform: translate(-50%, 0);
    border-bottom: 6px solid;
    border-image: linear-gradient(to right, #FF9C35, #FFD019) 1;
    -moz-border-image: linear-gradient(to right, #FF9C35, #FFD019) 1;
    -webkit-border-image: linear-gradient(to right, #FF9C35, #FFD019) 1;
}


.section-four-content-one h5 {
    font-size: 1.75rem;
    font-weight: 600;
}

.section-four-card-one {
    border-radius: 4px 20px 4px 40px;
}

.section-four-card-two {
    border-radius: 20px 4px 40px 4px;
}

.section-four-card-three {
    border-radius: 20px 4px 40px 4px;
}

/* ---------------------
  section five SPORT
------------------------*/

.section-five-content-one h2 {
    font-weight: 500;
    font-size: 3rem;
    font-family: 'Poppins',
        sans-serif;
    color: #E76F51;
}

.content-card {
    border-radius: 1rem;
}

.section-five-content-two img {
    width: 100%;
    transition: 0.3s ease transform;
}

.section-five-content-two img:hover {
    transform: scale(1.1);
}

.section-five-content-two h4 {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.25rem;
    color: #1F1F1F;
}

.section-five-content-two p {
    font-size: 1rem;
    line-height: 1.625rem;
    color: #4E4E4E;
}

.section-five-content-two h5 {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.25rem;
    color: #000000;
}

.section-five-btn-one,
.section-five-btn-two,
.section-five-btn-three,
.section-five-btn-four {
    font-weight: 500;
    font-size: 1rem;
    color: #4E4E4E;
    transition: 0.5s ease;
}

.section-five-btn-one:hover {
    color: white;
    background: linear-gradient(170.41deg, #52ff42 -10.89%, #07b4f8 92.77%);
}

.section-five-btn-two:hover {
    color: white;
    background: linear-gradient(180deg, #fcff58 -0.01%, #42ff13 99.99%);
}

.section-five-btn-three:hover {
    color: white;
    background: linear-gradient(170.41deg, #142033 -10.89%, #1e0d57 92.77%);
}

.section-five-btn-four:hover {
    color: white;
    background: linear-gradient(170.41deg, #b5c3da -10.89%, #28a586 92.77%);
}

/* ---------------------
  section six Scooter
------------------------*/

.section-six-content-one h2 {
    font-weight: 500;
    font-size: 3rem;
    font-family: 'Poppins',
        sans-serif;
    color: #E76F51;
}

.content-card {
    border-radius: 1rem;
}

.section-six-content-two img {
    width: 100%;
    transition: 0.3s ease transform;
}

.section-six-content-two img:hover {
    transform: scale(1.1);
}

.section-six-content-two h4 {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.25rem;
    color: #1F1F1F;
}

.section-six-content-two p {
    font-size: 1rem;
    line-height: 1.625rem;
    color: #4E4E4E;
}

.section-six-content-two h5 {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.25rem;
    color: #000000;
}

.section-six-btn-one,
.section-six-btn-two,
.section-six-btn-three,
.section-six-btn-four {
    font-weight: 500;
    font-size: 1rem;
    color: #4E4E4E;
    transition: 0.5s ease;
}

.section-six-btn-one:hover {
    color: white;
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
}

.section-six-btn-two:hover {
    color: white;
    background: linear-gradient(170.41deg, #142033 -10.89%, #1e0d57 92.77%);
}

.section-six-btn-three:hover {
    color: white;
    background: linear-gradient(170.41deg, #b9bb41 -10.89%, #d7e659 92.77%);
}

.section-six-btn-four:hover {
    color: white;
    background: linear-gradient(170.41deg, #b5c3da -10.89%, #28a586 92.77%);
}


/* ---------------------
      footer section 
------------------------*/

footer p {
    color: gray;
    letter-spacing: 1px;
    font-family: 'Poppins',
        sans-serif;
}